
<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
       

        <mat-card-content>
            <h3>Disciplinas </h3>
            <div class="serch">
  
            <button mat-raised-button (click)="addEditDisciplina()" >
              <mat-icon>add</mat-icon>
              Agregar Disciplina 
            </button>
            <mat-form-field >
              <mat-label>Filtro</mat-label>
              <input matInput (keyup)="applyFilter($event)" #input autocomplete="off">
            </mat-form-field>
            </div>
    
            <table mat-table [dataSource]="dataSource" matSort>
    
             
              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Disciplina </th>
                <td mat-cell *matCellDef="let element"> {{element.name | uppercase}}</td>
              </ng-container>
            
           
              <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoría </th>
                <td mat-cell *matCellDef="let element"> {{element.category | uppercase}} </td>
              </ng-container>
            
              
              <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones</th>
                <td mat-cell *matCellDef="let element"> 
                    <mat-icon (click)="addEditDisciplina(element.id)" class="btnEdit" matTooltip="Editar">edit</mat-icon>
                    <mat-icon  class="btnDelete" (click)="eliminar(element.id)" matTooltip="Delete">delete</mat-icon>
                            
                  </td>
             </ng-container>
            
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
    
            
              <mat-paginator [pageSizeOptions]="[10, 20]"
              showFirstLastButtons
              aria-label="Select page of periodic elements">
            </mat-paginator>
            
          </mat-card-content>
       
        </div>
    </div> 