.container{
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(45deg,rgb(23, 52, 78),rgb(22, 118, 127),rgba(89, 181, 166, 0.873),black);
    background-size: 400%,400%;
    position: relative;
    animation: cambiar 10s ease-in-out infinite;}

    h2, h4 {
        color: black;
    }
    button {
        margin-left: 10px;
    }

    .titulo {
        font-size:40px;
        font-family: 'Bebas Neue', sans-serif;
        color:#144e5c;
        font-weight: 400;
        margin: 0%;
      }

      .portada {
       display: flex;
       flex-direction: column;
        align-items: center;
        
      }
      .subtitulo {
         margin-left: 17px;
     
        font-weight: bold;
        font-style: normal;
       
      }