<div class="container">
    <h2 mat-dialog-title>{{ operacion }} Usuario </h2>
    <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
  </div>
  <form [formGroup]="form" (ngSubmit)="addEditUnidad()">
  
    <mat-dialog-content >
  
        <div class="row">
          <div class="column">
            <mat-form-field  style="width: 100%;">
              <mat-label>Nombre</mat-label>
              <input formControlName="name" matInput placeholder="Ingrese el nombre del Administrador" autocomplete="off">
            </mat-form-field>
            <div class="error">
              <span *ngIf="form.get('name')?.hasError('required') && form.get('name')?.touched">
                El DNI es un campo <strong>requerido</strong>  
              </span>
              <span *ngIf="form.get('dni')?.hasError('maxlength')">
                El DNI debe tener como maximo <strong>11 caracteres</strong> 
              </span>
            </div>
          </div>
      
          <div class="column">
            <mat-form-field  style="width: 100%;">
              <mat-label>Nombre de Usuario</mat-label>
              <input formControlName="userName" matInput placeholder="Ingrese la contraseña" autocomplete="off">
            </mat-form-field>
            <div class="error">
              <span *ngIf="form.get('userName')?.hasError('required') && form.get('userName')?.touched">
                 Debe ingresar un <strong>Nombre</strong>  
              </span>
            </div>
          </div>
        </div>
      
        <div class="row">
          <div class="column">
            <mat-form-field  style="width: 100%;">
              <mat-label>Contraseña</mat-label>
              <input formControlName="password" matInput placeholder="Contraseña" autocomplete="off" type="password">
            </mat-form-field>
            <div class="error">
              <span *ngIf="form.get('password')?.hasError('required') && form.get('password')?.touched">
                  Debe ingresar un/os <strong>Apellido/os</strong> 
              </span>
             
            </div>
          </div>
          <div class="column">
              <mat-form-field  style="width: 100%;">
                <mat-label>Repetir Contraseña</mat-label>
                <input formControlName="password2" matInput placeholder="Repetir Contraseña" autocomplete="off" type="password">
              </mat-form-field>
              <div class="error">
                <span *ngIf="form.get('password2')?.hasError('required') && form.get('password2')?.touched">
                  El Email  es un campo <strong>requerido</strong>  
                </span>
                <span *ngIf="form.get('email')?.hasError('email')">
                  El Email es <strong>invalido</strong>
                </span>
              </div>
            </div>
        </div>
      
      </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button type="button" (click)="cancelar()" mat-button>Cancelar</button>
      <button type="submit" mat-button cdkFocusInitial>Aceptar</button>
    </mat-dialog-actions>
    
  </form>
