<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">

    <mat-card>
    

        <mat-card-content>
          <h2>Usuarios</h2>
          <div class="serch">
  
          <button mat-raised-button (click)="addEditProfesor()" style="margin-right: 10px;">
            <mat-icon>add</mat-icon>
            Agregar Usuario
          </button>
          <mat-form-field >
            <mat-label>Filtro</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input autocomplete="off">
          </mat-form-field>
          </div>
  
          <table mat-table [dataSource]="dataSource" matSort>
  
          
         
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>
          
         
            <ng-container matColumnDef="nombreUsuario">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
              <td mat-cell *matCellDef="let element"> {{element.nombreUsuario}} </td>
                    
            </ng-container>
  
            <ng-container matColumnDef="roles">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Roles </th>
              <td mat-cell *matCellDef="let element"> {{element.roles[0].rolNombre}} </td>
                    
            </ng-container>
  
            
            
            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones</th>
              <td mat-cell *matCellDef="let element"> 
                  <mat-icon (click)="addEditProfesor(element.id)" class="btnEdit" matTooltip="Editar">edit</mat-icon>
                  <mat-icon (click)="deleteProfesor(element.id)" class="btnDelete" matTooltip="Delete">delete</mat-icon>
                          
                </td>
           </ng-container>
          
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
  
          
            <mat-paginator [pageSizeOptions]="[20, 30]"
            showFirstLastButtons
            aria-label="Select page of periodic elements">
          </mat-paginator>
          
        </mat-card-content>


    </mat-card>

  </div>
</div>